<div id="title" class="center" >
  <h1>Gestion Des Utilisateurs</h1>
  </div>



<div class="row">
  <div class="col"></div>
  <div class="btn_ajout">
    <button type="button"   data-toggle="modal" data-target="#form-add-personne" class=" btn btn btn-success"><i class="fa fa-plus"></i>Ajouter</button>
    </div>
  <div class="col"><input class="input" matInput (keyup)="applyFilter($event)"  placeholder="Chercher une personne" #input></div>
  <div class="col"></div>
</div>

<div class="center">
    
    <table mat-table  [dataSource]="data" matSort class="mat-elevation-z8">
      
        <!-- Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef> Prénom </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
           <!-- Name Column -->
           <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Cin">
            <th mat-header-cell *matHeaderCellDef> Cin </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Adresse">
            <th mat-header-cell *matHeaderCellDef> Adresse </th>
            <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Activation">
            <th mat-header-cell *matHeaderCellDef> Activation </th>
            <td mat-cell *matCellDef="let element"> {{element.activation}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell  *matCellDef="let element"> {{element.role}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="ServiceDepartment">
            <th mat-header-cell *matHeaderCellDef> Service Department </th>
            <td mat-cell *matCellDef="let element "> {{element.service}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
          <td  mat-cell *matCellDef="let element">
            <button type="button"  data-toggle="modal" (click)="getpersonById(element.iD_person)"
               data-target="#form-update-per"  class="btn btn-primary"><i class="fa fa-edit" ></i></button>


          <button (click)="DeletePerson(element.iD_person)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          
          </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    </div>

    <div data-backdrop="false" class="modal fade" id="form-add-personne"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white ">
              <h5 class="modal-title" id="exampleModalLabel">Details du personne</h5>
              <button class="bg-white text-white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="exform" class = 'normal-form' (ngSubmit)="addPersonne()" #PersonneAdd="ngForm" >
                    <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Prénom :</label>
                        <div class="col-sm-7">
                          <input  formControlName="FirstName" matInput name = "First_name" 
                           type="text"  class="form-control"  placeholder="Prénom">
                          <mat-error *ngIf="FirstName?.invalid && FirstName?.touched"> Entrez votre Prénom </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Nom :</label>
                        <div class="col-sm-7">
                          <input  formControlName="lastName" matInput name = LastName
                         type="text"  class="form-control"  placeholder="Nom">
                          <mat-error *ngIf="lastName?.invalid && lastName?.touched">Entrez votre nom  </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Email :</label>
                        <div class="col-sm-7">
                          <input formControlName="login" matInput name = Login
                           type="text"  class="form-control"  placeholder="Email">
                          <mat-error *ngIf="login?.invalid && login?.touched">Email est requis </mat-error>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Mot de passe :</label>
                        <div class="col-sm-7">
                          <input formControlName="password" name="Password"  matInput [type]="hide ? 'password' : 'text'">
                          <i class="material-icons" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility':'visibility_off'}}
                          </i>
                          <mat-error *ngIf="password?.invalid && password?.touched">Entrez votre mot de passe </mat-error>
                        </div>
                      </div>
                     
                       <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Cin :</label>
                        <div class="col-sm-7">
                          <input formControlName="cin" matInput name = Cin
                           type="text"  class="form-control"  placeholder="cin">
                          <mat-error *ngIf="cin?.invalid && cin?.touched">Cin est requis </mat-error>
                          <mat-error *ngIf="exform.controls['cin'].errors?.minlength && exform.controls['cin'].errors?.maxlength">Minimum 8 caractères requis.</mat-error>
                          
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Adresse :</label>
                        <div class="col-sm-7">
                          <input formControlName="adresse" matInput name = Adresse
                           type="text" class="form-control"  placeholder="Adresse">
                          <mat-error *ngIf="adresse?.invalid && adresse?.touched">Adresse est requis </mat-error>
                        </div>
                      </div>
                
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Role :</label>
                        <div class="col-sm-7">
                          <select name = Role formControlName="fk_Role"
                           type="text" class="form-control"  >
                           <option >Choisir votre role </option>
                          <option *ngFor="let role of dataRole" [value]="role.iD_Role">{{role.libelle_Role}}</option>
                      
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Service Department :</label>
                        <div class="col-sm-7">
                          <select name = ServiceDepartment formControlName="fk_serviceDepartment"
                           type="text" class="form-control"  >
                           <option >Choisir un service </option>
                           <option *ngFor="let serviceDepartment of dataService" [value]="serviceDepartment.iD_ServiceDepartment">{{serviceDepartment.libelle_service}}</option>
                          </select>
                        </div>
                      </div>
                  
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Activation :</label>
                        <div class="col-sm-7">
                          <input name = Activation
                           type="checkbox" class="form-control" formControlName="Activation"  >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" [disabled]="exform.invalid">Ajouter personne</button>
                      </div>
                   
                  </form>
            </div>
          
          </div>
        </div>  
      </div>


      <div data-backdrop="false" class="modal fade" id="form-update-per"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white ">
              <h5 class="modal-title" id="exampleModalLabel">Modifier {{lib_FirstName}}</h5>
              <button class="bg-white text-white" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="putform" (ngSubmit)="putPerson()" #PersonneAdd="ngForm" >

                  <div class="form-group row"  [style.visibility]="'hidden'" >
                    <div class="col-sm-7">
                      <input height="0px"  formControlName="iD_person"   [(ngModel)]="id_person"
                       type="text" value="{{id_person}}">
                    </div>
                    </div>
                    <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Prénom :</label>
                        <div class="col-sm-7">
                          <input  formControlName="FirstName" matInput name = "First_name" 
                           type="text"  class="form-control"  placeholder="Prénom">
                          <mat-error *ngIf="FirstName?.invalid && FirstName?.touched"> Entrez votre Prénom </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Nom :</label>
                        <div class="col-sm-7">
                          <input  formControlName="lastName" matInput name = LastName
                         type="text"  class="form-control"  placeholder="Nom">
                          <mat-error *ngIf="lastName?.invalid && lastName?.touched">Entrez votre nom  </mat-error>
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Email :</label>
                        <div class="col-sm-7">
                          <input formControlName="login" matInput name = Login
                           type="text"  class="form-control"  placeholder="Email">
                          <mat-error *ngIf="login?.invalid && login?.touched">Email est requis </mat-error>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Mot de passe :</label>
                        <div class="col-sm-7">
                          <input formControlName="password" name="Password"  matInput [type]="hide ? 'password' : 'text'">
                          <i class="material-icons" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility':'visibility_off'}}
                          </i>
                          <mat-error *ngIf="password?.invalid && password?.touched">Entrez votre mot de passe </mat-error>
                        </div>
                      </div>
                     
                       <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Cin :</label>
                        <div class="col-sm-7">
                          <input formControlName="cin" matInput name = Cin
                           type="text"  class="form-control"  placeholder="cin">
                          <mat-error *ngIf="cin?.invalid && cin?.touched">Cin est requis </mat-error>
                          <mat-error *ngIf="exform.controls['cin'].errors?.minlength && exform.controls['cin'].errors?.maxlength">Minimum 8 caractères requis.</mat-error>
                          
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Adresse :</label>
                        <div class="col-sm-7">
                          <input formControlName="adresse" matInput name = Adresse
                           type="text" class="form-control"  placeholder="Adresse">
                          <mat-error *ngIf="adresse?.invalid && adresse?.touched">Adresse est requis </mat-error>
                        </div>
                      </div>
                
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Role :</label>
                        <div class="col-sm-7">
                          <select name = Role formControlName="fk_Role"
                           type="text" class="form-control"  >
                           <option >Choisir votre role </option>
                          <option *ngFor="let role of dataRole" [value]="role.iD_Role">{{role.libelle_Role}}</option>
                      
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Service Department :</label>
                        <div class="col-sm-7">
                          <select name = ServiceDepartment formControlName="fk_serviceDepartment"
                           type="text" class="form-control"  >
                           <option >Choisir un service </option>
                           <option *ngFor="let serviceDepartment of dataService" [value]="serviceDepartment.iD_ServiceDepartment">{{serviceDepartment.libelle_service}}</option>
                          </select>
                        </div>
                      </div>
                  
                      <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Activation :</label>
                        <div class="col-sm-7">
                          <input name = Activation
                           type="checkbox" class="form-control" formControlName="Activation"  >
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Editer personne</button>
                      </div>
                   
                  </form>
            </div>
          
          </div>
        </div>
        
      </div>
        
  
        
    