
<div id="title" class="center" >
    <h1>Liste des Services</h1>
    </div>
  <div class="btn_ajout">
  <button type="button"  data-toggle="modal"
   data-target="#form-add-project" class="btn btn-success"><i class="fa fa-plus"></i>Ajouter un Service</button>
  </div>
  <div class="center">
      
    <table>
      <tr id="header">
          <th>ServiceDepartment </th>
          <th>Action</th>
          
      </tr>
      <tr *ngFor="let group of data">
          <td>{{group.libelle_service}} </td>
          <td><button class="btn btn-primary"><i class="fa fa-edit"></i></button>
          <button (click)="deleteService(group.iD_ServiceDepartment)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
          
              
      </tr>
     
  
  </table>
      </div>
  
  
  <div data-backdrop="false" class="modal fade" id="form-add-project"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white ">
            <h5 class="modal-title" id="exampleModalLabel">Ajout D'un Service</h5>
            <button class="bg-white text-white" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="exform"   class = 'normal-form' #ServiceAdd="ngForm" >
                  <div class="form-group row">
                      <label  class="col-sm-4 col-form-label">Service</label>
                      <div class="col-sm-7">
                        <input formControlName="libelle_service" matInput name = service_departement  type="text"  class="form-control"  placeholder="Donner Le Service">
                        <mat-error *ngIf="libelle_service?.invalid && libelle_service?.touched">Veuillez entrer une service departement </mat-error>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <button mat-stroked-button (click)="openSnackBar()" (click)="addService()" class="btn btn-primary" data-dismiss="modal"   [disabled]="exform.invalid" >Ajouter service</button>
                    </div>
                </form>
          </div>

        </div>
      </div>
    </div>
 