
<div id="title" class="center" >
  <h1>Gestion des projets</h1>
  </div>
<div class="btn_ajout">
<button type="button"  data-toggle="modal"
 data-target="#form-add-project" class="btn btn-success"><i class="fa fa-plus"></i>Ajouter un Projet</button>
</div>
<div class="center " ><input class="input" matInput (keyup)="applyFilter($event)"  placeholder="Chercher un Projet" #input>
</div>

<div class="center">
    
    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">    
        <!-- Name Column -->
        <ng-container matColumnDef="Service">
          <th mat-header-cell *matHeaderCellDef> Service </th>
          <td mat-cell *matCellDef="let element"> {{element.Service}} </td>
        </ng-container>
      
           <!-- Name Column -->
           <ng-container matColumnDef="Nom Projet">
            <th mat-header-cell *matHeaderCellDef> Nom Projet </th>
            <td mat-cell *matCellDef="let element"> {{element.Nom_Projet}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Nom Client">
            <th mat-header-cell *matHeaderCellDef>Nom Client </th>
            <td mat-cell *matCellDef="let element"> {{element.Nom_Client}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description </th>
          <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
        </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Etat_projet">
            <th mat-header-cell *matHeaderCellDef> Etat projet </th>
            <td mat-cell *matCellDef="let element"> {{element.Etat_projet}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Date Estime">
            <th mat-header-cell *matHeaderCellDef> Date Estimé </th>
            <td mat-cell *matCellDef="let element"> {{element.debut_estime}} </td>
          </ng-container>
             <!-- Name Column -->
        <ng-container matColumnDef="Date debut estime">
            <th mat-header-cell *matHeaderCellDef> Date debut Estimé </th>
            <td mat-cell *matCellDef="let element"> {{element.fin_estime}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td  mat-cell *matCellDef="let element">
              <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
              <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
              </td>
          </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


<div data-backdrop="false" class="modal fade" id="form-add-project"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white ">
          <h5 class="modal-title" id="exampleModalLabel">Détails du Projets</h5>
          <button class="bg-white text-white" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="exform" class = 'normal-form' #ProjectAdd="ngForm" (ngSubmit)="addProjet()" autocomplete="off">
              <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Service Department :</label>
                <div class="col-sm-7">
                  <select name = ServiceDepartment formControlName="fk_serviceDepartment"
                   type="text" class="form-control"  >
                   <option >Choisir un service </option>
                   <option *ngFor="let serviceDepartment of dataService" [value]="serviceDepartment.iD_ServiceDepartment">{{serviceDepartment.libelle_service}}</option>
                  </select>
                </div>
                   </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Nom Projet :</label>
                    <div class="col-sm-7">
                      <input formControlName="nom_Projet"  matInput name = nom_Projet
                       type="text" class="form-control"  placeholder="Nom Projet">
                      <mat-error *ngIf="nom_Projet?.invalid && nom_Projet?.touched">Nom Projet est requis </mat-error>
                    </div>
                  </div>  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Nom Client :</label>
                    <div class="col-sm-7">
                      <input formControlName="nom_Client"  matInput name = nom_Client
                      type="text" type="text"  class="form-control"  placeholder="Nom Client">
                      <mat-error *ngIf="nom_Client?.invalid && nom_Client?.touched"> Le nom du client est requis </mat-error>
                    </div>
                  </div>
                 <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">Etat projet :</label>
                  <div class="col-sm-7">
                    <input formControlName="etat_projet"  matInput name = etat_projet
                    type="text" type="text"  class="form-control"  placeholder="etat_projet">
                    <mat-error *ngIf="etat_projet?.invalid && etat_projet?.touched"> L'etat projet est requis </mat-error>
                  </div>
                </div>
                <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">description_projet :</label>
                  <div class="col-sm-7">
                    <input formControlName="description_projet"  matInput name = description
                    type="text" type="text"  class="form-control"  placeholder="description_projet">
                    <mat-error *ngIf="description_projet?.invalid && description_projet?.touched"> La description est requis </mat-error>
                  </div>
                </div>
                <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">Durée Estimée  :</label>
                  <div class="col-sm-7">
                    <input formControlName="debut_estime" matInput name = Durée_Réelle
                     type="date" class="form-control"  >
                    <mat-error *ngIf="debut_estime?.invalid && debut_estime?.touched"> Veuillez entrer votre durée estimée </mat-error>
                  </div>
                </div>
                <div class="form-group row">
                  <label  class="col-sm-4 col-form-label">Durée Réelle  :</label>
                  <div class="col-sm-7">
                    <input formControlName="fin_estime" matInput name = Durée_Réelle
                     type="date" class="form-control"  >
                    <mat-error *ngIf="fin_estime?.invalid && fin_estime?.touched">  Veuillez entrer votre durée réelle </mat-error>
                  </div>
                </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Durée Estimée (Par Jours) :</label>
                    <div class="col-sm-7">
                      <input formControlName="debut_estimej" matInput name = Durée_Réelle
                       type="number" class="form-control"  >
                      <mat-error *ngIf="debut_estimej?.invalid && debut_estimej?.touched"> Veuillez entrer votre durée estimée </mat-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Durée Réelle (Par Jours) :</label>
                    <div class="col-sm-7">
                      <input formControlName="fin_estimej" matInput name = Durée_Réelle
                       type="number" class="form-control"  >
                      <mat-error *ngIf="fin_estimej?.invalid && fin_estimej?.touched">  Veuillez entrer votre durée réelle </mat-error>
                    </div>
                  </div>
                   
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary"  [disabled]="exform.invalid">Ajouter Projet</button>
                  </div>
             </form>
        </div>
        
      </div>
    </div>
  </div>