
table {
  width: 80%;
  margin-top: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#date-input {
    height: 50px;
    width: 400px;
}


#title{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 100;
}
.container_inline {
  display: inline;
  float: right;
}

.btn{
  margin: 5px;
}


#title{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 100;
  margin-bottom: 100px;
}

.bg-primary {
  background-color: #0F172A!important;
}
tr.mat-header-row {
  background-color: #0F172A!important;
}
.mat-header-cell {
  color: #f8f9fa;
}


